
    <!-- Left Sidebar - My Account Options -->
    <div class="col-lg-3 mb-4 mb-lg-0">
        <div class="sidebar-nav" style="background-color: whitesmoke;">
            <div class="profile-avatar mb-4">
                <i class="bi bi-person"></i>
            </div>
            <nav class="nav flex-column">
                <a href="/user/manage" class="nav-link active"><i class="bi bi-person me-2"></i>Account Overview</a>
                <a href="#" class="nav-link"><i class="bi bi-bag me-2"></i>My Orders</a>
                <a href="/user/address" class="nav-link"><i class="bi bi-geo-alt me-2"></i>Manage Address</a>
                <a href="#" class="nav-link"><i class="bi bi-wallet2 me-2"></i>Wallet</a>
                <a href="#" class="nav-link"><i class="bi bi-shield-lock me-2"></i>Manage Password</a>
                <a href="#" class="nav-link"><i class="bi bi-heart me-2"></i>Wishlist</a>
            </nav>
            <button class="btn btn-dark w-100 mt-4" id="logOutBtn">LOG OUT</button>
        </div>
    </div>      

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
    <script>
    const logOutBtn = document.getElementById("logOutBtn");
    logOutBtn.addEventListener("click",async function(e){
        e.preventDefault();

        try{
            const response =  await fetch("/user/logout",{
            method:"post",
        });

        const data = await response.json();
       

        if(data.success){
            Swal.fire({
                icon:"success",
                title:"log out successfully",
                timer:1000
            }).then(()=>{
                window.location.href = "/user/login";
            })
        }else{
            Swal.fire({
                icon:"error",
                title:"server error"
            });
        }
        }catch(err){
            console.log('error while login out',err);
            Swal.fire({
                icon:"error",
                title:"server error"
            });
        }
    });
    </script>