  <!-- header starts  -->
  <head>
    <link rel="stylesheet" href="/styles/spinner.css" />
</head>

<div id="preloader-active">
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-img pere-text">
          <strong>Loading</strong>
        </div>
      </div>
    </div>
  </div> 
  <%-include ("../../views/partials/user/header")%>

    <main class="container mt-4">
        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold  home-image">DRESS LIKE NEVER BEFORE</h2
            <div class="image-container">
                <a href="/user/men">
                <img src="/images/mens.jpg"   alt="Street style fashion" class="img-fluid">
            </a>
            </div>
          
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image">UNLOCK THE POTENTIAL OF FASHION</h2>
            <div class="image-container">
                <a href="/user/Women">
                <img src="/images/girls.jpeg" alt="Vintage sportswear" class="img-fluid">
               </a>
                <div class="text position-absolute top-0 end-0 p-2 text-white fs-5 me-3 mt-5" style="font-family: joan;">
                    <a href="/user/Women" style="text-decoration: none; color: white;">GIFT FOR HER â†’</a>
             </div>
             </div>
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image" >LET THEM GLOW</h2>
            <div class="image-container">
                <a href="/user/kids">
                <img src="/images/kid.jpeg" alt="Kids fashion" class="img-fluid">
            </a>
                <div class="text position-absolute top-0 end-0 p-2 text-white fs-5 me-3 mt-5" style="font-family: joan;">
                  <a href="/user/kids" style="text-decoration: none; color: white;">MAKE THEM HAPPY â†’</a>
            </div>
        </section>

        <div class="text-center my-5">
            <h1 class="brand-logo">BLUR VINTAGE â˜…</h1>
        </div>
        <script src="/js/spinner.js"></script>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- footer starts -->
    <%-include ("../../views/partials/user/footer")%>

    <script>
       document.addEventListener('DOMContentLoaded',function(){
            const newUser =  <%= isNewUser %>

            console.log("hy",newUser)

            if (newUser) {
          Swal.fire({
            title: 'Welcome to \nBLUR VINTAGE â˜…',
            text: 'Please login or register to start shopping!',
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: 'already our member? login',
            cancelButtonText: 'new member ? register',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#28a745',
            allowOutsideClick: true,
          }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to login page
                window.location.href = '/user/login';
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // Redirect to register page
                window.location.href = '/user/register';
            }
          });
    }

        let refferalSuccess = <%= referalSuccess %>
        

        if(refferalSuccess){
            Swal.fire({

                toast:true,
                position:"top-end",
                icon:"success",
                title:"Welcome ðŸ¤",
                text: 'You received â‚¹500 as referral bonus in your wallet!',
              showConfirmButton: false,
             timer: 5000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
            });
        }

      })
       
    </script>