  <!-- header starts  -->

  <%-include ("../../views/partials/user/header")%>
    <main class="container mt-4">
        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold  home-image">DRESS LIKE NEVER BEFORE</h2>
            <div class="image-container">
                <img src="/images/mens.jpg" alt="Street style fashion" class="img-fluid">
            </div>
          
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image">UNLOCK THE POTENTIAL OF FASHION</h2>
            <div class="image-container">
                <img src="/images/girls.jpeg" alt="Vintage sportswear" class="img-fluid">
            </div>
           
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image">LET THEM GLOW</h2>
            <div class="image-container">
                <img src="/images/kid.jpeg" alt="Kids fashion" class="img-fluid">
            </div>
           
            <!-- <p class="text-end small text-muted me-3">MAKE THEM HAPPY</p> -->
        </section>

        <div class="text-center my-5">
            <h1 class="brand-logo">BLUR VINTAGE ★</h1>
        </div>
    </main>

    <!-- footer starts -->
    <%-include ("../../views/partials/user/footer")%>