  <!-- header starts  -->

  <%-include ("../../views/partials/user/header")%>
    <main class="container mt-4">
        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold  home-image">DRESS LIKE NEVER BEFORE</h2
            <div class="image-container">
                <a href="/user/men">
                <img src="/images/mens.jpg"   alt="Street style fashion" class="img-fluid">
            </a>
            </div>
          
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image">UNLOCK THE POTENTIAL OF FASHION</h2>
            <div class="image-container">
                <a href="/user/Women">
                <img src="/images/girls.jpeg" alt="Vintage sportswear" class="img-fluid">
               </a>
                <div class="text position-absolute top-0 end-0 p-2 text-white fs-5 me-3 mt-5" style="font-family: joan;">
                    <a href="/user/Women" style="text-decoration: none; color: white;">GIFT FOR HER →</a>
             </div>
            </div>
           
        </section>

        <section class="mb-5">
            <h2 class="text-center mt-3 fw-bold home-image" >LET THEM GLOW</h2>
            <div class="image-container">
                <a href="/user/kids">
                <img src="/images/kid.jpeg" alt="Kids fashion" class="img-fluid">
            </a>
                <div class="text position-absolute top-0 end-0 p-2 text-white fs-5 me-3 mt-5" style="font-family: joan;">
                  <a href="/user/kids" style="text-decoration: none; color: white;">MAKE THEM HAPPY →</a>
            </div>
        </section>

        <div class="text-center my-5">
            <h1 class="brand-logo">BLUR VINTAGE ★</h1>
        </div>
    </main>

    <!-- footer starts -->
    <%-include ("../../views/partials/user/footer")%>